@media (max-width: 600px) {
    div.tabuleiro{
        width: 130px;
        height: 100%;
    }
    div.titulo{
        width:270px;
        display: flex;
        
    }
    div.titulo > h1{
        font-size: 30px;
        text-align: center;
    }
}

.titulo{
    width: 1040px;
    margin: 50px auto -40px;
    padding: px;
    background-color: #EEF9BF;
    display: flex;
    justify-content: center;
}
.titulo > h1{
    margin-top: 20PX;
    font-size: 56px;
    color: #75B79E;
    font-family: 'Roboto', sans-serif;
}
.tabuleiro{
    width: 900px;
    height: 330px;
    margin: 20px auto;
    background-color: #EEF9BF;
    padding: 70px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}


.card{
    width: 117px;
    height: 146px;
    position: relative;
    margin: 2px 5px;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transition: all 0.5s;
}


.card:active{
    transform: scale(0.97);
}

.card.virar{        
    transform: rotateY(180deg);
}
.card.virar.fundo-carta{
    transform: rotateY(0deg);
}

.fundo-carta,.frente-carta
{
    height: 100%;
    width: 100%;
    background-color: #A7E9AF;
    border-radius: 5px;
    position: absolute;
}

.frente-carta{
    transform: rotateY(180deg);
}



